* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior: none;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


/* ---------- HEADER ---------- */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 500px;
    color: #ffffff;
    flex-shrink: 0;
    z-index: 1000;
}

.header::before {
    background: #377ecd url(https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&w=1000&q=80) no-repeat center center/cover;
    max-height: 500px;
    position: absolute;
}

.header::after {
    background: linear-gradient(135deg, transparent 0%, #53c161 75%);
    opacity: .35;
    position: absolute;
}

.header::before, 
.header::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.header-card {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    width: 50%;
}

.left-header {
    text-align: right;
}

.left-header-content {
    text-align: center;
    margin-right: 2em;
    display: inline-block;
    padding: 2.25em 3em;
}

.right-header {
    text-align: left;
}

.right-header-content {
    display: inline-block;
    padding: 2.25em 3em;
}

.left-header img {
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.nav-list {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

ul.nav-list li {
    width: auto;
    font-size: 17.5px;
    cursor: pointer;
    padding: 5px;
}

ul.nav-list li:hover{
    margin-left: 7px;
}


/* ---------- HEADER ---------- */






/* ---------- BODY ---------- */



/* ---------- BODY ---------- */