* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    overscroll-behavior: none;
    background-color: #6e7e94;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: block;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ---------- HEADER ---------- */

.header {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 50px;
    background-color: #454749;
    color: #ffffff;
    z-index: 1000;
}

.nav-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    flex-wrap: wrap;
    width: 40%;
}

ul.nav-list li:not(.project-dropdown-content li) {
    height: 35px;
    width: fit-content;
    font-size: 17.5px;
    word-wrap: break-word;
    padding: 15px 15px 0;
}

ul.nav-list li:not(:last-child):not(.project-dropdown-content li):hover {
    margin-top: -3px;
    margin-bottom: 3px;
    cursor: pointer;
}

li.dropdown {
    display: inline-block;
    cursor: default;
}

.project-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(25, 39, 53);opacity:0.8;
    margin-top: 5px;
    padding-right: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: none;
    color: #ffffff;
}

.dropdown:hover .project-dropdown-content {
    display: block;
}

.project-dropdown-content li {
    padding: 0;
}

.project-dropdown-item {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 5px 15px 5px;
}

.project-dropdown-item:hover {
    background-color: rgb(79, 107, 134);opacity:0.8;
    color: #ffffff;
}

.hamburger {
    display: none;
}

@media screen and (min-width: 1070px) {
    
}

/* ---------- HEADER ---------- */






/* ---------- BODY ---------- */

.sunset {
    display: flex;
    background-image: url(https://kwa.ng/static/4922c522dbd60d5f4a14cbd0e0b48f95/fb329/confidence-gap-adam-eastburn.jpg);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sunset-content {
    font-size: 30px;
}

.about-me {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 750px;
    align-items: center;
    justify-content: center;
}

.about-me-content {
    display: flex;
    height: 100%;
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about-me-profile {
    padding: 20px;
    text-align: center;
}

.about-me-image {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}

.about-me-text {
    text-align: right;
    padding: 50px;
}

.sub-intro {
    text-align: center;
    font-size: 27px;
    width: 50%;
}

/* ---------- BODY ---------- */


/* ---------- FOOTER ---------- */



.footer {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100px;
    background-color: #051622;
    align-items: center;
    justify-content: center;
}

.footer-content {
    align-self: center;
    align-items: center;
    justify-content: center;
}

.footer-content .email-btn {
    font-size: 16px;
    padding: 10px;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 25px;
    background-color: transparent;
    color: #ffffff;
}

.footer-content .email-btn:hover {
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}

.footer-content .email-btn:active {
    color: #ababab;
}

/* ---------- FOOTER ---------- */



/* ---------- BTREE ---------- */

.btree-content {
    margin-top: 50px;
    background-color: #ffffff;
}

.btree-inputs {
    justify-content: center;
    align-items: center;
}

.btree-content .input {
    background-color: #6e7e94;
}

/* ---------- BTREE ---------- */



/* ---------- SORTING ---------- */

html.sorting,
body.sorting {
    overflow: hidden;
    background-color: #b1e9d6;
}

.sort-page-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 8.7em;
}

.sorting-container {
    width: 100%;
    position: relative;
}

.bar {
    width: 28px;
    position: absolute;
    top: 0;
    background-color: rgb(0, 183, 255);
    transition: 0.2s all ease;
}

.bar_id {
    position: absolute;
    bottom: -24px;
    width: 100%;
    text-align: center;
}

.counter {
    position: absolute;
    display: none;
    width: 100%;
    /* background-color: #aeb3b6; */
    height: 76px;
    bottom: 0;
    text-align: center;
    justify-content: space-between;
}

.counter-label {
    position: relative;
    float: left;
    margin-left: 2px;
    margin-right: -2px;
}

.counter-section {
    display: inline-block;
    height: 30px;
    width: 60px;
    border-style: groove;
    border-radius: 6px;
    border-color: #9a9a9a;
    background-color: #aeb3b6;
}

.input-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1c2936;
    margin-top: 3.1em;
}

.sort-inputs {
    position: auto;
    display: flex;
    align-items: center;
    max-width: 450px;
    margin: auto;
}

.sort-options {
    overflow: hidden;
    padding: 0 5px;
}

.sort-btn {
    padding: 12px;
    font-weight: bolder;
    background-color: #17c490;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    border: #ffffff;
    cursor: pointer;
}

.sort-btn:active {
    background-color: #27775f;
    color: #e2e2e2;
}

.sort-inputs:not(.sort-label) {
    justify-content: space-between;
    padding: 10px;
}

/* ---------- SORTING ---------- */


/* ---------- RESUME ---------- */

iframe {
    overflow: hidden;
}

.resume-container {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.resume-pdf {
    width: 100%;
    height: 100%;
    max-width: 850px;
}

.resume-download-btn {
    margin: 0;
    position: relative;
    display: flex;
    width: 80px;
    height: 30px;
    padding: 15px;
    background-color: #051622;
    color: #ffffff;
    opacity: 0.8;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.resume-download-btn:active {
    background-color: #2f4758;
}

@media screen and (min-width: 1070px) {
    .resume-container {
        display: flex;
    }
}

/* ---------- RESUME ---------- */