<!DOCTYPE html>
<html>

    {% include "format/header.html" %}

    <body>
        <script src="../static/javascript/canvas.js"></script>
        <div class="btree-content">
            <div class="input">
                <table id="btree-inputs">
                    <td><input type="Text" value size="4" id="insert"></td>
                    <td><input type="Button" value="Insert" onclick="insertClick()"></td>
                    <td><input type="Text" value size="4" id="delete"></td>
                    <td><input type="Button" value="Delete" onclick="deleteClick()"></td>
                    <td><input type="Button" value="Clear"></td>
                    <td><label style="margin-left: 10px;">Order</label></td>
                    <td><input type="Number" value="5" style="max-width: 3em;" min="3" max="8"></td>
                </table>
            </div>
            <canvas id="btree-canvas" width="1000" height="500"></canvas>
        </div>
    </body>

</html>
