<!DOCTYPE html>
<html>

    {% include "format/header.html" %}

    <body>
        <div class="contact-container">
            <form id="contact-form" class="contact-form">
                <div class="form-content">
                    <div class="contact-form-header">
                        <h1>Email  Me</h1>
                    </div>
                    <div class="contact-input name">
                        <label>Name</label><br>
                        <input type="text" name="user_name" placeholder="Enter name">
                    </div>
                    <div class="contact-input email">
                        <label>Email</label><br>
                        <input type="email" name="user_email" placeholder="jdoe@mail.com">
                    </div>
                    <div class="contact-input message">
                        <label>Message</label><br>
                        <textarea name="text" class="message"></textarea>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Send" name="send" class="contact-btn">
                    </div>
                    <div class="socials">
                        <a href="https://github.com/ldtags">
                            <img 
                                src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"
                                height="32px"
                                width="32"
                            >
                        </a>
                        <a href="https://linkedin.com/in/liam-tangney-a89774203">
                            <img 
                                src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
                                height="32px"
                                width="32px"
                            >
                        </a>
                    </div>
                </div>
                <div class="powered-by flex-center">
                    <p>Powered by <a href="https://postmail.invotes.com" target="_blank">PostMail</a></p>
                </div>
            </form>

            <script>
                var form_id = "contact-form";

                var TEMP_COUNTER = 0;

                var data = {
                    "access_token": "0dc241fglossr33qk3xtc2ef"
                };

                function onSuccess() {
                    // remove this to avoid redirect
                    window.location = window.location.pathname + "?message=Email+Successfully+Sent%21&isError=0";
                }

                function onError(error) {
                    // remove this to avoid redirect
                    window.location = window.location.pathname + "?message=Email+could+not+be+sent.&isError=1";
                }

                var sendButton = $("#" + form_id + " .submit [name='send']");

                function send() {
                    sendButton.val('Sending…');
                    sendButton.prop('disabled',true);

                    var subject = $("#" + form_id + " [name='user_email']").val() + " -- " + $("#" + form_id + " [name='user_name']").val();
                    var message = $("#" + form_id + " [name='text']").val();
                    data['subject'] = subject;
                    data['text'] = message;

                    $.post('https://postmail.invotes.com/send',
                        data,
                        onSuccess
                    ).fail(onError);

                    return false;
                }

                sendButton.on('click', send);

                var $form = $("#" + form_id);
                $form.submit(function( event ) {
                    event.preventDefault();
                });
            </script>
        </div>
    </body>
</html>