<!DOCTYPE html>
<html>

    {% include "format/header.html" %}
    
    <body>
        <div class="contact-container">
            <form id="contact-form">
                <div class="contact-row">
                    <input type="hidden" name="contact_number">
                    <label>Name</label><br>
                    <input type="text" name="user_name">
                    <label>Email</label><br>
                    <input type="email" name="user_email">
                </div>
                <label>Message</label><br>
                <textarea name="message"></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
</html>