<!DOCTYPE html>
<html>

    {% include "format/header.html" %}

    <body>

        <div class="sunset">
            <div class="sunset-content">
                <a>Hey, I'm Liam</a>
            </div>
        </div>
        
        <div class="about-me">
            <div class="about-me-content">
                <div class="about-me-profile">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQG2IplTgrGuwA/profile-displayphoto-shrink_200_200/0/1654082693137?e=1659571200&v=beta&t=LI4YH3IyQzLs_jeYo5ZNy4kjDXoPtETveld3JBhy1Bs"
                        class="about-me-image">
                    <h1>Liam Tangney</h1>
                    <h3>/lee-am tag-nee/</h3>
                </div>
                <div class="about-me-text">
                    <em class="sub-intro">Software, Guitar, and Good Vibes</em><br><br><br>
                    <div class="intro-body">
                        <a>
                            If you didn't notice yet, my name's Liam. I like long walks on the beach and hiking. But seriously, I'm a junior at the University of Wisconsin - La Crosse studying computer science.
                        </a>
                        <br><br>
                        <a>
                            All of my personal projects can be found on my GitHub page, so make sure to go check them out!
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <footer class="footer">
            <div class="footer-content">
                
            </div>
        </footer>
    </body>

</html>