<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <body>
        <header class="header">
            <div class="header-card left-header">
                <div class="left-header-content">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQG2IplTgrGuwA/profile-displayphoto-shrink_200_200/0/1654082693137?e=1659571200&v=beta&t=LI4YH3IyQzLs_jeYo5ZNy4kjDXoPtETveld3JBhy1Bs">
                    <div class="intro">
                        Hey, I'm Liam
                        <br>
                        (and that's Kerry)
                    </div>
                </div>
            </div>
            <div class="header-card right-header">
                <div class="right-header-content">
                    <ul class="nav-list">
                        <li><a>Resume</a></li>
                        <li><a>Projects</a></li>
                        <li><a>About</a></li>
                        <li><a>Contact Me!</a></li>
                    </ul>
                </div>
            </div>
        </header>
        
        <div class="mid">
            
        </div>

        <div class="bottom">
            <footer>

            </footer>
        </div>
    </body>

</html>