<!DOCTYPE html>
<html class="resume-html">
    {% include "format/header.html" %}

    <body class="resume-body">
        <div class="resume-container">
            <iframe
                src="https://docs.google.com/document/d/e/2PACX-1vSSd0VpbswJkyxJ0yZUbiXCASEG99Aop2Fs9MrrnVrlFBfs5JYFXyI8vi-e-qK1hd-1xdBvsckeyWAR/pub?embedded=true"
                frameBorder="0"
                scrolling="no"
                height="120%"
                width="100%"
                class="resume-pdf"
            ></iframe>
            <div class="resume-download-btn">
                <a class="btn-content" href="../static/data/Liams-Resume.pdf" download>Download Me!</a>
            </div>
        </div>
    </body>

</html>