
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header class="header">
    <nav class="nav">
        <div class="nav-content">
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/resume">Resume</a></li>
                <!-- <li><a>Contact Me!</a></li> -->
                <li class="dropdown">
                    <a>Projects</a>
                    <ul class="project-dropdown-content">
                        <!-- <li><a class="project-dropdown-item" href="/btree">B+Tree Visualizer</a></li> -->
                        <li><a class="project-dropdown-item" href="/sorting">Sorting Algorithm Visualizer</a></li>
                    </ul>
                </li>
            </ul>
            <div class="hamburger">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </nav>
</header>